.cookiesBanner__wrapper {
    position: sticky;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 3;
    margin-top: -56px;
}

.cookiesBanner__content {
    box-shadow: 1px 5px 20px 2px rgba(0,0,0,0.2);
    padding: 0px 20px;
    height: auto;
    background-color: #ffffff;
    width: 100%;
    max-width: 1191px;
    margin: 0px auto;
    text-align: left;
    color: #4a4a4a;
    line-height: 56px;
}

.cookiesBanner__buttons {
    float: right;
}

.cookiesBanner__link {
    font-size: 12px;
    color: #1890FF;
    margin-left: 5px;
    text-decoration: underline;
}

.cookiesBanner__button-accept {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 5px;
    width: 113px;
}

.cookiesBanner__button-deny {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 5px;
    width: 113px;
    text-decoration: underline;
    border: none;
    color: #4a4a4a;
}

.cookiesBanner__button-close {
    margin: 0px 5px 0px 50px;
    border: none;
    color: #4a4a4a;
}

@media only screen and (max-width: 768px) {
    .cookiesBanner__content {
        text-align: center;
        line-height: 22px;
        padding: 15px 5px;
    }
    .cookiesBanner__buttons {
        float: none;
        display: block;
        margin: 10px auto;
    }
    .cookiesBanner__button-deny {
        border: 1px solid #d9d9d9;
        text-decoration: none;
    }
}