@import '../select/mixins.scss';
@import 'include-media/dist/_include-media.scss';

.TwoColumnsCard {
  max-width: 1440px;
  margin: 0 auto;
  @include media ("<=tablet") {
    text-align: center;
  }
  .ant-card {
    background-color: rgba(216, 216, 216, 0.2);
  }
  .ant-card-body {
    padding: 0;
    height: 100%;
  }
  .textCard {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    padding: 0;
    @include media ("<=tablet") {
      padding: 0 0 10px;
    }
    &-contentWrapper {
      margin: 0 auto 10px;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @include media ("<=375px") {
        max-width: 310px;
      }
      @include media ("<=tablet") {
        padding:0 10%;
      }
      @include media (">tablet") {
        max-width: 412px;
        &--first {
          margin-left: 10vw;
          padding-right: 20px;
        }
        &--last {
          margin-right: 10vw;
          padding-left: 20px;
        }
      }
    }
    &-header {
      @include headerDesctop();
      font-family: 'Gilroy', sans-serif;
      color:inherit;
      font-weight: 800;
      margin-bottom: 1vw;
      @include media ("<=375px") {
        @include headerMobile();
      }
    }
    &-content {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 1.56;
      @include media ("<=tablet") {
        font-size: 14px;
      }
      @include media ("<=375px") {
        font-size: 12px;
        line-height: 1.42;
      }
    }
    &--dark {
      color: #fff;
      background-image: linear-gradient(122deg, #001358, #125ac4);
    }
    &--light {
      color: #4a4a4a;
    }
  }
  &-btnWrapper {
    margin: auto; 
  }
  &-btn {
    &.ant-btn-primary {
      @include buttonDefault();
      left: 50%;
      transform: translate(-50%, 0);
      width: 186px;
      height: 52px;
      line-height:52px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 500;
      @include media ("<=tablet") {
        position: static;
        transform: none;
      }
      @include media ("<=375px") {
        width: 100px;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
      }
    }

  }
}
