@import '../select/mixins.scss';
@import 'include-media/dist/_include-media.scss';
.Graphic {
  &-row {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 10% 85px 10%;
    @include media('<=tablet') {
      padding: 0 4%;
    }
    @include media('<=375px') {
      text-align: left;
    }
    .ant-card-body {
      height: 100%;
      padding: 0;
    }
    .ant-card {
      height: 100%;
    }
    .textCard {
      color: #4a4a4a;
      &-contentWrapper {
        max-width: 420px;
        margin: 0 auto;
      }
      &-header {
        @include headerDesctop();
        color: inherit;
        font-family: 'Gilroy', sans-serif;
        font-weight: 800;
        line-height: 1.1;
        @include media("<=375px") {
          @include headerMobile();
          line-height: 1.16;
          font-weight: 800;
        }
      }
      &-content {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 1.56;
        @include media("<=375px") {
          font-size: 12px;
          line-height: 28px;
        }
      }
    }
    .graphicCard {
      width: 100%;
      height: 100%;
      max-width: 960px;
      max-height: 330px;
      position: relative;
      &-placeholderText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        font-family: 'Gilroy', sans-serif;
        font-size: 40px;
        font-weight: 800;
        color: #4a4a4a;
      }
      &-imageContainer {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: -70px;
          left: 0;
          max-width: 110%;
          height: auto;

          @include media(">1250px") {
            top: -70px;
            max-width: 100%;
          }

          @include media("<=1250px") {
            top: -10px;
          }

          @include media("<=1150px") {
            top: 0px;
            max-width: 120%;
          }

          @include media("<=950px") {
            top: 60px;
            max-width: 120%;
          }

          @include media("<=800px") {
            top: 150px;
            max-width: 120%;
          }
        }
      }
    }
  }
}
