@import '../select/mixins.scss';
@import 'include-media/dist/_include-media.scss';

.aboutUs {
  padding: 0 10%;
  @include media("<=tablet") {
    padding: 0 0 10px;
  }
  &-row {
    [class*="ant-col"] {
      padding: 0;
    }
    .ant-card-body {
      position:relative;
      padding: 0;
      padding-top: 65px;
      @include media("<=tablet"){
        padding-top: 0;
        text-align: center;
      }
    }
  }
  &-header {
    @include headerDesctop();
    position:absolute;
    top:0;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: #4a4a4a;
    @include media("<=tablet"){
      position:static;
      font-size: 32px;
    }
    @include media("<=375px"){
      font-size: 25px;
      line-height: 1.16;
    }
  }
  &-content {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.56;
    color: #4a4a4a;
    p {
      margin-bottom: 30px;
    }
    @include media("<=tablet"){
      font-size: 14px;
    }
    @include media("<=375px"){
      font-size: 12px;
      line-height: 1.42;
    }
  }
  &-image {
    width: 190px;
    display: block;
    margin: 30px auto 0;
    @include media("<=375px"){
      width: 150px;
      margin: 20px auto 0;
    }
  }
  &-footer {
    p {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      margin:0;
    }
  }
}
