$RoadmapThickness: 254px;
$DesctopLabelWidth: 140px;
$MobileLabelWidth: 120px;
$DotDiameter: 18px;
$RoadmapColor: #1890FF;
$RoadmapDescriptionColor: #4a4a4a;
$DesctopLabelMargin: 24px;
$MobileLabelMargin: 15px;
