@import '../select/mixins.scss';

.Team {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
    max-width: 1440px;
  }

  &__members {
    
    &-card {
      position: relative;
      font-family: 'Roboto', sans-serif;
      width: 25vw;
      height: 25vw;
      padding: 4vw 1vw 1vw 1vw;
      margin: 6px 2vw 2vw 6px;
      box-shadow: 0 3vw 5vw 0 rgba(15, 53, 90, 0.5);
      text-align: center;
      cursor: pointer;
      box-sizing: border-box;
      border: 6px solid transparent;
      overflow: hidden;
      color: #273469;

      @media (max-width: 940px) {
        width: 43vw;
        height: 43vw;
        margin: 6px 1vw 2vw 1vw;

        &--is-visible-mobile {
          display: none;
        }
      }

      @media (min-width: 1440px) {
        width: 375px;
        height: 375px;
        padding: 61px 20px 20px 20px;
        margin: 6px 30px 30px 6px;
        box-shadow: 0 30px 48px 0 rgba(15, 53, 90, 0.5);
      }
    }

    &-icon {
      width: 40%;
      height: 38%;
      margin: 0 auto;
      transition: all 0.3s ease-out;
      overflow: hidden;
      transform: scale(1);

      & img{
        width: 100%;
      }
    }

    &-name {
      position: relative;
      font-size: 36px;
      line-height: 2.08;
      color: #4b4b4b;

      @media (max-width: 1350px) {
        font-size: 32px;
      }

      @media (max-width: 1200px) {
        font-size: 24px;
      }

      @media (max-width: 1000px) {
        font-size: 22px;
        line-height: 1.8;
      }

      @media (max-width: 940px) {
        font-size: 24px;
      }

      @media (max-width: 850px) {
        font-size: 20px;
      }

      @media (max-width: 620px) {
        font-size: 18px;
      }

      @media (max-width: 550px) {
        font-size: 16px;
      }

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }

    &-name:after {
      @include bit();
      left: 50%;
    }

    &-bio, &-intro {
      position: absolute;
      width: 88%;
      transition-property: opacity;
      transition-duration: 0.7s;
      left: 0;
      right: 0;
      margin: auto;
      color: #4b4b4b;
    }

    &-bio p, &-intro p {
      font-size: 16px;
      line-height: 1.75;

      @media (max-width: 1200px) {
        font-size: 14px;
      }

      @media (max-width: 1060px) {
        font-size: 13px;
      }

      @media (max-width: 940px) {
        font-size: 20px;
      }

      @media (max-width: 850px) {
        font-size: 16px;
      }

      @media (max-width: 680px) {
        font-size: 14px;
      }

      @media (max-width: 620px) {
        font-size: 12px;
      }

      @media (max-width: 480px) {
        font-size: 9px;
        line-height: 1.2;
      }
    }
    &-intro, &-card--is-active &-bio, &-card:hover &-bio {
      opacity: 1;
      visibility: visible;
    }
    @media (min-width: 941px) {
      &-card:hover, &-card--is-active {
        animation-duration: .5s;
        animation-name: cardPadding;
        animation-fill-mode: forwards;
      }
    }

    @media (max-width: 540px) {
      &-card:hover, &-card--is-active {
        animation-duration: .5s;
        animation-name: cardPadding;
        animation-fill-mode: forwards;
      }
    }

    @keyframes cardPadding {
      25% {padding-top: 4vw}
      100% {padding-top: 1.2vw}
    }

    &-bio, &-card--is-active &-intro, &-card:hover &-intro {
      opacity: 0;
      visibility: hidden;
    }

    &-card:hover &-icon, &-card--is-active &-icon {
      height: 0;
      transform: scale(0)
    }

    &-card:hover, &-card--is-active {
      border-style: solid;
      border-width: 6px;
      border-color: #1f92fb;
    }

    &-links {
      position: absolute;
      list-style: none;
      width: 8%;
      height: 8%;
      top: 3%;
      left: 3%;
      margin: 0;
      padding: 0;

      & img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
      }
    }

  }
}
