@import '../select/mixins.scss';
@import 'include-media/dist/_include-media.scss';

.WeWorkWith {
  &__wrapper {
    padding: 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include media (">=tablet") {
      padding: 0 0 20px;
    }
  }

  &__header {
    @include headerDesctop();
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    color: #4a4a4a;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    @include media ("<=375px") {
      @include headerMobile();
      margin-bottom: 10px;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1440px;
    margin: 0 5%;
    &-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: auto;
        max-width: 90%;
      }
    }
  }

  @include media (">=375px") {
    &__header {
      height: 55px;
    }

    &__container-img-wrapper {
      width: 25%;
      height: 100px;

      & a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        img {
          max-height: 70%;
        }
      }
    }
  }

  @include media("<tablet") {

    &__container-img-wrapper {
      width: 50%;
      height: 100px;
    }
  }
}
