.grid-container {
  margin: 0 -8px;
}

.appLogo {
  margin: 0 auto;
  height: 70px;
  text-align: center;
  & svg {
    height: 100%;
    width: 100%;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}