@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroy-extrabold.otf') format('opentype');
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0px;
  margin-block-start: 0px;
  margin-bottom: 1em;
}

.mybitBlue {
  color: #1890ff;
}

.contribute {
  background-color: rgba(255,255,255,0);
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  width: 192px;
}

.ma12px{
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
}
